<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.neopul14">

    <application
        android:allowBackup="true"
        android:icon="@drawable/neopullogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CalendarActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".PlantManagementActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".StoreMainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".LoginPageActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".RegisterPageActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".Content_mainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>